.city-name {
  font-size: 4rem;
  padding-left: 40px;
  @include for-very-narrow-layout {
    font-size: 2.5rem;
    padding-left: 20px;
  }
}

.city-header-img {
  height: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)),
    url(https://dlq9ebkqqrcon.cloudfront.net/destination_map/50961473-c5b5-4859-b5b4-3ea5f56374b0/70d06bfd53acbca4.jpg);
}

.city-header-container{
    display: flex;
    align-items: center;
    // justify-content: space-between;
}
