.city-name {
  font-size: 2.5rem;
  @include for-narrow-layout {
    font-size: 4rem;
  }
}

.loading-svg{
  width: 100%;
  display: flex;
  justify-content: center;
  img{
    width: 50%;
    margin:  0 auto;
  }
}

.city-header-img {
  height: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)),
    url(https://dlq9ebkqqrcon.cloudfront.net/destination_map/50961473-c5b5-4859-b5b4-3ea5f56374b0/70d06bfd53acbca4.jpg);
}

.city-header-container {
  height: 1%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
  h2{
    font-size: 2.2rem;
  }
 
}

.filter-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h4 {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 400;
  }

  button {
    height: 25%;
    outline: none;
    background-color: rgb(233, 233, 233);
    border: none;
    padding: 8px;
    border-radius: 3px;
    color: black;
    font-size: 1rem;
    align-self: flex-end;
    cursor: pointer;
    &:hover {
      background-color: rgba(224, 224, 224, 0.336);
    }
  }
}
