.home {
  margin-bottom: 10vh;
  width: 100%;
  @include for-very-narrow-layout {
    margin-bottom: 0;
  }
  .hero-container {
    position: relative;
  }
  .hero-img {
    height: 80vh;
    object-fit: cover;
    margin-bottom: 10px;
    @include for-very-narrow-layout {
      height: 90vh;
    }
  }
  .become-guide-btn {
    position: absolute;
    bottom: 27px;
    left: 10px;
    text-decoration: none;
    background-color: #ffffffab;
    color: black;
    padding: 10px 20px;
    border-radius: 3px;
    &:hover {
      background-color: #d1464b;
    }
  }
  .join-btn-container {
    position: absolute;
    color: #fff;
    margin-top: 21rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    a {
      text-decoration: none;
      background-color: #ff5a60ce;
      color: white;
      padding: 4px 12px;
      border-radius: 3px;
      margin-left: 10px;
      &:hover {
        background-color: #db494ece;
      }
    }
    @include for-very-very-narrow-layout {
      margin-top: 21rem;
    }
    @include for-very-narrow-layout {
      margin-top: 24rem;
    }
    @include for-normal-layout {
      margin-top: 26rem;
      // width: 35%;
    }
  }
  .titles {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    font-family: Lato;
    padding-top: 0.5rem;
    text-align: center;

    h2 {
      font-size: 1.9rem;
      font-weight: 700;
      @include for-very-very-narrow-layout {
        font-size: 2rem;
      }
      @include for-very-narrow-layout {
        font-size: 2.4rem;
      }
    }
    h3 {
      font-size: 1.7rem;
      font-weight: 700;
      @include for-very-very-narrow-layout {
        font-size: 2rem;
      }
      @include for-very-narrow-layout {
        font-size: 2.2rem;
      }
    }
    @include for-very-very-narrow-layout {
      text-align: center;
      padding-top: 2rem;
    }
    @include for-very-narrow-layout {
      font-size: 2.3rem;
      text-align: center;
      padding-top: 6.3rem;
    }
    @include for-narrow-layout {
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 2.1rem;
      }
      white-space: nowrap;
    }
    > * {
      padding: 10px;
      @include for-very-narrow-layout {
        padding: 20px;
      }
    }
  }
  .city-filter {
    position: absolute;
    width: 50%;
    margin-top: 17rem;
    @include for-very-very-narrow-layout {
      margin-top: 17rem;
    }
    @include for-very-narrow-layout {
      margin-top: 20rem;
    }
    @include for-normal-layout {
      margin-top: 21rem;
      width: 35%;
    }
    input {
      width: 100%;
      height: 3rem;
      // min-width: rem(120px);
      border-radius: 3px;
      padding: rem(10px);
      user-select: none;
      border: 0;
      outline: none;
      &::placeholder{
        font-size: 1.2rem;
      }
    }
    option {
      width: 100%;
      min-width: rem(180px);
    }
  }
  .list-title {
    margin-bottom: 10px;
    color: $clr1;
    padding: 10px;
  }
  .flex-list {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    border-bottom: 1px solid $clr3;
    padding-bottom: 10px;
    @include for-very-narrow-layout {
      overflow: initial;
      flex-wrap: wrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 95%;
      flex-shrink: 0;
      height: 100%;
      scroll-snap-align: start;
      padding: 0px 10px;
      @include for-very-narrow-layout {
        width: 50%;
        padding: 10px 10px;
      }
      @include for-wide-layout {
        width: 25%;
      }
    }
  }
}

.scroll-up {
  text-decoration: none;
  position: fixed;
  bottom: 145px;;
  right: 20px;
  width: 45px;
  display: flex;
  height: 43px;
  background-color: #fe031d8c;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  .arrow-up {
    width: 30px;
    height: 30px;
  }
  @include for-very-narrow-layout{
    bottom: 110px;
  }
}
