.home {
    .flex-list {
        display: flex;
        flex-wrap: wrap;
        >* {
            padding: 10px 0px;
            width: 100%;
            @include for-normal-layout {
                width: 50%;
                padding: rem(10px);
            }
            @include for-wide-layout {
                width: 25%;
            }
        }
    }
    .hero-img {
        height: 80vh;
        object-fit: cover;
    }
    .titles {
        position: absolute;
        font-size: 1.5rem;
        color: white;
        padding: 30px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
        @include for-very-narrow-layout {
            text-align: center;
        }
        @include for-narrow-layout {
            font-size: rem(40px);
            white-space: nowrap;
        }
        >* {
            padding: 10px;
        }
    }
    .city-filter {
        position: absolute;
        width: 50%;
        margin-top: 17rem;
        @include for-normal-layout {
            width: 30%;
        }
        input {
            height: 3rem;
            min-width: rem(180px);
            border-radius: 1000px;
            padding: rem(10px);
            user-select: none;
            border: 0;
            outline: none;
            width: 100%;
        }
    }
}