.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    form{
        margin: 0 auto;
        text-align: center;
        .el-form-item{
            .el-form-item__content {
                margin: 0 auto !important;
            }
        }
    }
    h1{
        margin-bottom: 30px;
    }
    a{
        text-decoration: none;
        color: $clr5;
    }
}

input:-internal-autofill-selected{
background-color: #ff5a6033!important;
}