// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }
@font-face {
    font-family: OpenSansCondensed;
    src: url('~@/styles/fonts/openSansCondensed/OpenSansCondensed-Light.ttf');
}
@font-face {
    font-family: OpenSansCondensedBold;
    src: url('~@/styles/fonts/openSansCondensed/OpenSansCondensed-Bold.ttf');
}
