

@font-face {
    font-family: OpenSans;
    src: url('~@/assets/fonts/openSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSansBold;
    src: url('~@/assets/fonts/openSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: Lato;
    src: url('~@/assets/fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('~@/assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Kaushan;
    src: url('~@/assets/fonts/kaushan/KaushanScript-Regular.ttf');
}
