// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }
@font-face {
    font-family: OpenSansCondensed;
    src: url('~@/assets/fonts/openSansCondensed/OpenSansCondensed-Light.ttf');
}
@font-face {
    font-family: OpenSansCondensedBold;
    src: url('~@/assets/fonts/openSansCondensed/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('~@/assets/fonts/openSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSansBold;
    src: url('~@/assets/fonts/openSans/OpenSans-Bold.ttf');
}