// COLOR PALETTE
$clr1: #21626a;
$clr2: #C7EAE4;
$clr3: #97C6CC;
$clr4: #2A2E30;
$clr5: #de4d5c;
// LAYOUT BREAKPOINTS
$break-narrow: 850px;
$break-mid-narrow: 950px;
$break-medium: 1000px;
$break-normal: 1100px;
$break-mid-wide: 1200px;
$break-wide: 1380px;
