// COLOR PALETTE
$clr1: #bdc5c8;
$clr2: #63C7B2;
$clr3: #7DCFB6;
$clr4: #80CED7;
$clr5: #F991CC;
// LAYOUT BREAKPOINTS
$break-narrow: 850px;
$break-mid-narrow: 950px;
$break-medium: 1000px;
$break-normal: 1100px;
$break-mid-wide: 1200px;
$break-wide: 1380px;
