.guide-filter-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.guide-interests-filter-list {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 25px;
  width: 60%;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.guide-filter-interest {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  width: 48%;
  height: 25%;
  margin: 5px 5px;
  font-size: 1.5rem;
  padding: 2px 5px;
  cursor: pointer;
  img {
    width: 12%;
    pointer-events: none;
  }
}

.interest-selected {
  border: 2px solid black;
  padding: 0 3px;
}

.filter-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    outline: none;
    background-color: rgb(255, 90, 95);
    border: none;
    padding: 10px;
    width: 60%;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
  }
}

.filter-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.filter-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  &:hover{
    background-color: rgb(207, 207, 207);
  }

}