.guide-list-container {
}

.guide-list {
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;
}

.guide-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 15px;
  > * {
    height: 450px;
  }
}


.city-header-img{
  height: 100px;
 background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(https://dlq9ebkqqrcon.cloudfront.net/destination_map/50961473-c5b5-4859-b5b4-3ea5f56374b0/70d06bfd53acbca4.jpg);
}