.guide-preview {
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.guides-container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include for-normal-layout {
    max-width: 750px;
  }
  @include for-wide-layout {
    max-width: $break-normal;
  }
  @include for-narrow-layout {
    max-width: 800px;
  }
}

.guide-top-data{
  //IN THIS CMP SHOW RATE
  height: 7%;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.guide-name {
  display: flex;
  align-items: center;
  a {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    margin-right: 15px;
    text-decoration: none;
    color: #21626a;
    &:hover{
      text-decoration: underline;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-style: italic;
    &:not(:last-child):after {
      content: ",";
    }
  }
}

.guide-short-desc{
  height: 15%;
  padding: 0 10px;
  p{
    margin: 10px 0;
  }
}

.ratio-card-guide {
  height: 60%;
  @include guide-card-aspect-ratio(100, 80);
}

//GUIDE INTERESTS

.guide-interests-list {
  padding: 5px;
  width: 100%;
  list-style: none;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
}

.guide-interest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid black;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  width: 32%;
  height: 45%;
  margin: 0 2px;
  font-size: 0.9rem;
  padding: 0 5px;
  img {
    width: 15%;
  }

  // &:nth-child(3){
  //   margin:0;
  //   margin-left: 2px;
  // }
}
