.booking-panel-container {
  .booking-desktop {
    display: none;
  }
  bottom: 10vh;
  @include for-very-narrow-layout{
    bottom: 0;
  }
  font-size: 1.5rem;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #bbbbbb;
  background-color: #ffffff;
  height: rem(107px);
  padding: 20px;
  @include for-mid-narrow-layout {
    position: sticky;
    top: 80px;
    margin-right: 45px;
    min-width: 20rem;
    max-width: 20rem;
    z-index: 3;
    padding: rem(25px);
    margin: 0px;
    height: 47.875rem;
    border-top:none;
    border: 1px solid #bbbbbb;
    .booking-desktop {
      display: block;
    }
  }
  .confirm-img{
    height: 50px;
    width: 50px;
    margin-top:10px
  }
}

.guide-price {
  h4 {
    margin-left: 10px;
    font-size:1.2rem;

  }
  h2{
    font-size: 1.3rem;
    font-weight: 700;
  }
  line-height: 20px;
  margin-bottom:15px;
  margin-top:0;
  @include for-mid-narrow-layout{
    margin-top:15px; 
  }
}
.persons {
  display: none;
  margin-top: 15px;
  width: 100%;
  @include for-mid-narrow-layout{
    display: block;
  }
  select {
    width: 20%;
    border: 1px solid #de4d5c;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
  }
}

.book-btn {
  background-color: rgb(255, 90, 95);
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  width: 30%;
  margin: 0;
  height: rem(60px);
  display: none;
  @include for-mid-narrow-layout {
    align-self: center;
    width: 60%;
    margin-top: 30px;
    padding: 10px;
    display: block;
  }
}
.booking-rate {
  p {
    margin: 0;
  }
  font-size: 1.2rem;
  span {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
.booking-price-rate {
  color: #de4d5c;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  display: flex;
  @include for-mid-narrow-layout {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.booking-panel {
  color: #de4d5c;
  h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  flex-direction: row;
  justify-content: space-between;
  max-width: rem(700px);
  margin: 0 auto;
  @include for-mid-narrow-layout {
    flex-direction: column;
  }
}

.el-radio-button__inner:hover{
color: black!important;
}
.persons-header{

  margin-bottom:10px;
}
.show-modal {
  .close-btn{
    position: absolute;
    right: 30px;
    border: 1px solid #de4d5c;
    cursor: pointer;
    padding: 0 5px;
    &:hover{
      background-color: #de4d5c48;
    }
  }
  height: 90%;
  .booking-panel{
    flex-direction: column;
    align-items: center;
  }
  .persons{

    display: block !important;
  }
  .booking-desktop {
    display: block !important;
  }
  .booking-price-rate{
    flex-direction: column;
    align-items: center;
  }
  .book-btn{
    display: block;
    width: 60%;
    margin-top:15px;
  }
  .guide-price{
    margin-top:15px;
  }
  .booking-modal {
    display: flex;
    flex-direction: column;

  }
  .modal-btn{
    display: none;
  }
  @include for-narrow-layout{
    height: 60%;
    .booking-price-rate {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .book-btn{
      width: 60%;
    }
    .booking-panel{
      margin: 0 auto;
      flex-direction: row;
    }
  
  }
}
.notif-img{
  width: 20px;
  height: 20px;
}

.modal-btn{
  display: block;
  background-color: rgb(255, 90, 95);
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  width: 30%;
  margin: 0;
  height: rem(60px);
  @include for-mid-narrow-layout{
    display: none;
  }
}


.booked{
  background-color: grey;
}
