.guide-details-container {
  position: relative;
}
.guide-container {
  padding: 20px;
  border-bottom: 1px solid $clr3;
  padding-bottom: 30px;
  @include for-mid-narrow-layout {
  }
  @include for-normal-layout {
    max-width: $break-normal;
    margin: 0 auto;
  }
  @include for-wide-layout {
    width: $break-mid-wide;
    margin: 0 auto;
  }
  .questions-container {
    h1 {
      font-size: 1.3rem;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 400;
    }
    margin: 0;
    @include for-mid-narrow-layout {
      margin-right: 10px;
    }
  }
}

.main-quest {
  border-bottom: 1px solid;
  color: #21626a;
  padding-bottom: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
.giude-details {
  column-gap: 40px;
  break-inside: avoid-column;
  padding-right: 0;
  color: $clr1;
  > *:not(:last-child) {
    border-bottom: 1px solid $clr3;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    margin-bottom: 40px;
    font-weight: 400;
  }
  img {
    height: rem(400px);
    object-fit: cover;
    margin-bottom: 20px;
    @include for-normal-layout {
      height: rem(300px);
    }
  }
  @include for-narrow-layout {
    column-count: 1;
  }
  @include for-normal-layout {
    column-count: 2;
  }
  :last-child {
    margin-bottom: 0;
  }
}
.profile-img {
  object-fit: contain;
  width: 25rem;
  align-self: center;
  @include for-medium-layout {
    width: 20rem;
    object-fit: cover;
  }
}

.personal-title-container {
  align-self: center;
  // margin-bottom: rem(40px);
  flex-direction: column;
  border-bottom: 1px solid $clr3;
  padding-bottom: rem(20px);
  color: $clr1;
  h1 {
    font-size: 4rem;
  }
  h2 {
    margin-bottom: rem(30px);
  }
  @include for-narrow-layout {
    width: 100%;
    flex-direction: row;
  }
}

.details-banner {
  position: relative;
  // border-bottom: 1px solid $clr3;
  // padding-bottom: rem(40px);
  font-size: 1.3rem;
  img {
    height: 80px;
    opacity: 0.5;
  }
  p {
    position: absolute;
    color: black;
    margin: 0;
  }
  .from-p {
    top: 5%;
    left: 10%;
  }
  .langs-p {
    top: 40%;
    left: 10%;
    line-height: 1;
    span {
      color: black;
      font-size: 1.2rem;
      &:not(:last-child):after {
        content: " ,";
      }
    }
  }
  @include for-very-very-narrow-layout {
    .from-p {
      top: 10%;
      left: 10%;
    }
    .langs-p {
      top: 40%;
      left: 10%;
    }
  }
  @include for-very-narrow-layout {
    .from-p {
      top: 20%;
      left: 10%;
    }
    .langs-p {
      top: 40%;
      left: 55%;
    }
  }
}

.personal-txt {
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 0;
  h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right: 10px;
  }
  @include for-medium-layout {
    width: 50%;
  }
  .guide-interests-list {
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    li {
      height: rem(30px);
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

.guide-profile-container {
  display: flex;
}

.back-btn {
  background-color: rgba(255, 90, 96, 0.356);
  outline: none;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
  margin-left: 20px;
  padding: 8px;
}
