.guide-details-container {
  position: relative;
}
.guide-container {
  padding: 20px;
  padding-bottom:rem(110px);
  @include for-normal-layout{
    max-width: $break-normal;
   margin: 0 auto;
  }
  @include for-wide-layout{
    width: $break-mid-wide;
   margin: 0 auto;
  }
  .questions-container {
    h1{
      font-size: 1.3rem;
    }
    h2{
      font-size:1.2rem;
      font-weight: 400;
    }
    margin: 0;
    @include for-mid-narrow-layout {
      margin-right: 10px;
    }
  }
}

.main-quest {
  border-bottom: 1px solid;
  color: #21626a;
  padding-bottom: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
.giude-details {
  column-gap: 40px;
  break-inside: avoid-column;
  padding-right: 0;
  h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  h3 {
    margin-bottom: 40px;
    font-weight: 400;

  }
  img {
    height: rem(400px);
    object-fit: cover;
    margin-bottom: 40px;
    @include for-normal-layout {
      height: rem(300px);
    }
  }
  @include for-narrow-layout {
    column-count: 1;
  }
  @include for-normal-layout {
    column-count: 2;
  }
}
.profile-img {
  object-fit: contain;
  width: 25rem;
  align-self: center;
  @include for-medium-layout {
    width: 20rem;
    object-fit: cover;
  }
}

.personal-title-container {
  align-self: center;
  margin-bottom: rem(40px);
  flex-direction: column;
  border-bottom: 1px solid $clr3;
  padding-bottom: rem(40px);
  h1 {
    font-size: 4rem;
  }
  h2 {
    margin-bottom: rem(30px);
  }
  @include for-narrow-layout {
    width: 100%;
    flex-direction: row;
  }
 
}

.personal-txt {
  width: 100%;
  h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right:10px;
  }
  @include for-medium-layout {
    width: 50%;
  }
}

.guide-profile-container {
  display: flex;
}

.back-btn {
  background-color: rgba(255, 90, 96, 0.356);
  outline: none;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  width: 10%;
  margin: 0;
  padding: 10px;
}
