.city-preview {
  img {
    border-radius: 2px;
    object-fit: cover;
    height: 25.625rem;
    @include for-very-narrow-layout {
      height: 20.625rem;
    }
  }
  position: relative;
  cursor: pointer;
  .city-prev-title {
    position: absolute;
    margin-block-start: 0px;
    z-index: 1;
    min-width: 40%;
    color: $clr4;
    background-color: rgba(255, 255, 255, 0.699);
    text-align: center;
  }
}
