.city-preview{
    position: relative;
    cursor: pointer;
    .city-prev-title{
        position: absolute;
        z-index: 1;
        color: lime;
        background-color: mediumblue;
        
    }
}