.city-preview{
    img{
        object-fit: cover;
        min-height:rem(250px);
    }
    position: relative;
    cursor: pointer;
    .city-prev-title{
        position: absolute;
        margin-block-start:0px;
        z-index: 1;
        min-width: 40%;
        color: rgb(0, 61, 117);
        background-color: rgba(255, 255, 255, 0.699);
        text-align: center;
        
    }
}