.details-bar-container{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-bottom:1px solid #21626a;
    .details-bar{
      display: flex;
      width: 100%;
      justify-content: center;
      a{
          color: #21626a;
          text-decoration: none;
          padding: 0 30px;
          border-left: 1px solid #21626a;
          &:first-child{
              border:none;
          }
      }
     
  }
}
.router-link-exact-active{
    color:#ff5a5f!important;
}