.reviews-carousel {
  width: 100%;
  .review-details {
    width: 100%;
  }
  .VueCarousel-pagination {
    position: absolute;
    width: 100%;
    bottom: 65px;
    text-align: center;
  }
  .VueCarousel-dot {
    margin: 0;
    &:focus {
      outline: none;
    }
  }
}
